/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #0480A4;
    padding: 20px 0;
    border-bottom: 2px solid #0480A4;
}

.logo {
    vertical-align: middle;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: #0480A4;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu li a:hover {
    color: #036a82;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

/* Hero Section */
.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #333;
    padding: 30px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/* General Section Styling */
.section {
    padding: 50px 0;
    text-align: center;
    background: #fff; /* Default to white for the first section */
}

.section h2 {
    color: #0480A4;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    margin: 10px 0;
}

.section article {
    margin-bottom: 30px;
}

/* Annenhver seksjon bakgrunn, starter med hvit */
.section:nth-child(even) {
    background: #f9f9f9;
}

/* Tabell */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #0480A4;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #0480A4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    table {
        width: calc(100% - 30px); /* Add padding on both sides */
        margin: 0 auto;
    }
    
    th, td {
        padding: 10px;
    }
}



/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    margin: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-menu_visible {
        display: flex;
    }

    .nav-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #0480A4;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}
